h1, h2, h3, h4 {
  color: #212121;
}

p {
  color: #757575;
}

.jumbotron {
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* padding: 20 !important; */
  color: #FFFFFF;
  background-color: #FF5722;
  text-align: center;
}

/* Workout buttons */

.btn-event {
  background-color: #673AB7;
  border-color: #673AB7;
  color: #FFFFFF;
}

.btn-easy {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #FFFFFF;
}

.btn-intervals {
  background-color: #F44336;
  border-color: #F44336;
  color: #FFFFFF;
}

.btn-hillsprint {
  background-color: #FFC107;
  border-color: #FFC107;
  color: #212121;
}

.btn-tempo {
  background-color: #2196F3;
  border-color: #2196F3;
  color: #FFFFFF;
}

/* Calendar */

 table.month {
  table-layout: fixed;
 }

table.month td {
  height: 4em;
  text-align: center;
}

table.month th {
  text-align: center;
  color: #212121;
}

table.month td {
  width: 14.285%;
}

table.month th.month{
  text-align: center;
  color: #212121;
  background-color: #eeeeec;
  font-size: 150%;
}

table.month td.today {
  background-color: #F8F8F8;
}