/* Bootstrap Overrides */

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #757575;
}

.navbar-default {
  background-color: #FF5722;
  border-color: #FF5722;
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

.navbar-brand {
  color: #FFF;
  font-weight: 700;
  font-size: 250%;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: rgba(187, 66, 29, 0.527);
}

.jumbotron {
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* padding: 20 !important; */
  color: #FFFFFF;
  background-color: #FF5722;
  text-align: center;
}

.form-group {
  margin-bottom: 25px;
}

/* Workout buttons */

.btn-event {
  background-color: #673AB7;
  border-color: #673AB7;
  color: #FFFFFF;
}

.btn-easy {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: #FFFFFF;
}

.btn-intervals {
  background-color: #F44336;
  border-color: #F44336;
  color: #FFFFFF;
}

.btn-hillsprint {
  background-color: #FFC107;
  border-color: #FFC107;
  color: #212121;
}

.btn-tempo {
  background-color: #2196F3;
  border-color: #2196F3;
  color: #FFFFFF;
}

/* Workout Calendar */

.workout-calendar {
  padding-top: 20px;
}

  .workout-calendar > table.month {
    table-layout: fixed;
  }

    .workout-calendar > table.month td, th {
      text-align: center;
    }

    .workout-calendar > table.month th {
      color: #212121;
      background-color: #eeeeec;
    }

    .workout-calendar > table.month td {
      height: 4em;
    }

    .workout-calendar > table.month th.month {
      font-size: 150%;
    }

    .workout-calendar > table.month td.today {
      background-color: #F8F8F8;
    }

/* Page-level styles */

.gif > a {
  padding-right: 15px;
}

.gif > img {
  width: 55px;
  height: 55px;
}

.events {
  list-style: none;
  padding-top: 20px;
  padding-left: 0;
}

.events > li {
  position: relative;
  margin-bottom: 30px;
  color: #757575;
  margin-left: none;
}

  .events > li .date {
    background: red;
    color: white;
    text-align: center;
    width: 60px;
    border-radius: 8px;
  }

    .events > li .month {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      padding: 2px 6px;
    }

    .events > li .day {
      background: #f7f7f7;
      color: #333;
      font-size: 20px;
      padding: 6px 12px;
    }

.events > li .details {
  position: absolute;
  top: 0;
  left: 70px;
}
  .events > li .details .name {
      font-weight: bold;
      display: block;
  }
  .events > li .details .distance {
      font-size: 15px;
      text-transform: capitalize;
  }