{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Run - Create{% endblock %}

{% block page_content %}
    <div class="jumbotron">
        <h1>Run!  <i class="mdi mdi-run-fast"></i></h1>
    </div>
    <div class="container">
        <p>
            Hello,
            {% if current_user.is_authenticated %}
                {{ current_user.username }}!
            {% else %}
                Stranger!
            {% endif %}
        </p>
        <form method="post" role="form">
            {{ form.hidden_tag() }}
            <p>{{ form.event_id.label }}</p>
            <p>{{ form.event_id(class="form-control") }}</p>
            <p>{{ form.level.label }}</p>
            <p>{{ form.level(class="form-control") }}</p>  
            <p>{{ macros.render_field(form.days, 7) }}</p>
            <p>{{ form.submit(class="btn btn-default") }}</p>
        </form>
    </div>
{% endblock %}