{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %}Run{% endblock %} {% block page_content%}
<div>
    <h1>Upcoming Events</h1>
    <ul class="events">
        {% for event in events %}
        <li>
            <div class="date">
                <div class="month">
                    {{ moment(event.date).format('MMM') }}
                </div>
                <div class="day">
                    {{ moment(event.date).format('D') }}
                </div>
            </div>
            <div class="details">
                <a href="https://www.edinburghmarathon.com">
                    <div class="name">
                        {{ event.name }}
                    </div>
                </a>
                <div class="distance">
                    Distance: {{ event.distance }}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}